*{margin: 0;
padding: 0;}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-image: url(stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.heavenlybody{
    z-index: 90;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blackhole{
    background-image: url(gif/blackhole.gif);
    width: 500px;
    height: 500px;
    animation: blackhole 10s linear infinite;
}
#bluedryterran{
    background-image: url(gif/bluedryterran.gif);
    width: 100px;
    height: 100px;
    animation: bluedryterran 10s linear infinite;
}
#galaxee{
    background-image: url(gif/galaxee.gif);
    width: 450px;
    height: 450px;
    animation: galaxee 10s linear infinite;
}
#waterplanet{
    background-image: url(gif/waterplanet.gif);
    width: 180px;
    height: 180px;
    animation: waterplanet 10s linear infinite;
}
@keyframes blackhole {
    0% {transform: translate(2000px, 0px);}
    50% {transform: rotate(70deg);}
    75% {transform: scale(.8);}
    100% {transform: translate(1900px, 150px);}
}
@keyframes bluedryterran {
    0% {transform: translate(0px,1500px);}
    55% {transform: scale(.5);}
    75% {transform: rotate(90deg)}
    100% {transform: translate(1500px, 0px) ;}
}
@keyframes galaxee {
    0% {transform: translate(2000px, 100px);}
    75% {transform: rotate(75deg);}
    100%{transform: translate(100px,2000px);}
}
@keyframes waterplanet{
    0% {transform: translate(100px, 0px);}
    55%{transform: scale(.9);}
    75% {transform: rotate(50deg);}
    100% {transform: translate(1500px, 900px);}
}